{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-admissions page</title>
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}" type="text/css">
</head>
<body>
    <h1>add-admissions page</h1>
    <img src="{% static 'images/nature.jpg' %}" alt="Image not found">
    <h1>My name is {{ name }}</h1>
    <p>Age: {{ age }}</p>
    <p>Grade: {{ grade }}</p>
</body>
</html>